<%- include('../partials/_header');  %>

		<!-- partial:../../partials/_sidebar.html -->
	<%- include('../partials/_sidebar')  %>
		<!-- partial -->
	
		<div class="page-wrapper">
			<%- include('../partials/_navbar')  %>
			<!-- partial -->
			<link rel="stylesheet" href="/admin/vendors/datatables.net-bs5/dataTables.bootstrap5.css">

			<div class="page-content">

				<nav class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">İstekler</a></li>
						<li class="breadcrumb-item active" aria-current="page">İstekler İle İlgili</li>
					</ol>
				</nav>
				<div class="row">
				
				<div class="row">
					<div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">İstek Listesi</h6>
                <div class="table-responsive">
                  <table id="dataTableExample" class="table">
                    <thead>
                      <tr>
                         <th>Adı ? : </th>
                        <th>Email : </th>
                        <th>Konu Başlığı :</th>
                        <th>Konu :</th>
                        <th>Düzenle</th>
						<th>Sil</th>
                       </tr>
                   </thead>
					<tbody>
						<% supports.forEach(element => { %>
							
						
						  <tr>
							<td><%= element.username %></td>
							<td><%= element.email %></td>
							<td><%=  element.wrightsubject %></td>
							<td><%=  element.message %></td>
							<td>
							  <button type="button" class="btn btn-primary" onclick="element.id" data-bs-toggle="modal" data-bs-target="#exampleModalCenter<%= element.id  %>">
								Oku
							  </button>
							  <div class="modal fade" id="exampleModalCenter<%= element.id %>" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
								  <div class="modal-content">
									<div class="modal-header">
									  <h5 class="modal-title" id="exampleModalCenterTitle">İsteği Oku</h5>
									  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
									</div>
									<div class="modal-body">
									  <div class="row">
										<div class="col-md-12 grid-margin">
										  <div class="card">
											<div class="card-body">
												<div class="row mb-3">
													<div class="col">
													  <label class="form-label">Adı :</label>
													  <input class="form-control"  value="<%= element.username %> " />
													</div></div>
												<div class="row mb-3">
												  <div class="col">
													<label class="form-label">Email :</label>
													<input class="form-control mb-4 mb-md-0" value="<%= element.email %>" />
												  </div>
												</div>
												<div class="row mb-3">
												  <div class="col">
													<label class="form-label">Konu Başlığı :</label>
													<input class="form-control"  value="<%= element.wrightsubject %> " />
												  </div></div>
												  <div class="row mb-3">
													<div class="col">
													  <label class="form-label">Konu :</label>
													  <input class="form-control"  value="<%= element.message %>"  />
													</div></div>
													
 												</div>
											  </form>
											</div>
										  </div>
										</div>
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							</td>
							<td>
							  <button class="btn btn-danger" onclick="sil('<%=  %>')">Sil</button>
							</td>
						  </tr>
						  <% 	}); %>
					  </tbody>
                  </table>
                </div>
              </div>                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

            </div>
					</div>
				</div>

			</div>

				<div class="row">
			<%- include('../partials/_footer');  %>
		</div>
	</div>
 

	<!-- Plugin js for this page -->
	<script src="/admin/vendors/jquery-validation/jquery.validate.min.js"></script>
	<script src="/admin/vendors/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
	<script src="/admin/vendors/inputmask/jquery.inputmask.min.js"></script>
	<script src="/admin/vendors/select2/select2.min.js"></script>
	<script src="/admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
	<script src="/admin/vendors/jquery-tags-input/jquery.tagsinput.min.js"></script>
	<script src="/admin/vendors/dropzone/dropzone.min.js"></script>
	<script src="/admin/vendors/dropify/dist/dropify.min.js"></script>
	<script src="/admin/vendors/pickr/pickr.min.js"></script>
	<script src="/admin/vendors/moment/moment.min.js"></script>
	<script src="/admin/vendors/flatpickr/flatpickr.min.js"></script>
	<!-- End plugin js for this page -->
	<script src="/admin/js/data-table.js"></script>

	<!-- Plugin js for this page -->
	<script src="/admin/vendors/datatables.net/jquery.dataTables.js"></script>
	<script src="/admin/vendors/datatables.net-bs5/dataTables.bootstrap5.js"></script>
	  <!-- End plugin js for this page -->
  
	  
	  <!-- endinject -->
	<!-- inject:js -->
	<!-- endinject -->

	<!-- Custom js for this page -->
	<script src="/admin/js/form-validation.js"></script>
	<script src="/admin/js/bootstrap-maxlength.js"></script>
	<script src="/admin/js/inputmask.js"></script>
	<script src="/admin/js/select2.js"></script>
	<script src="/admin/js/typeahead.js"></script>
	<script src="/admin/js/tags-input.js"></script>
	<script src="/admin/js/dropzone.js"></script>
	<script src="/admin/js/dropify.js"></script>
	<script src="/admin/js/pickr.js"></script>
	<script src="/admin/js/flatpickr.js"></script>
	<!-- End custom js for this page -->

</body>
</html>