<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  
  <!-- Meta Tags -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="ThemeMarch">
  <!-- Site Title -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <link rel="stylesheet" href="/assets/css/bulma-tooltip.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.min.css">


  <link rel="apple-touch-icon" sizes="180x180" href="/logo/<%- site.favicon  %>">
  <link rel="icon" type="image/png" sizes="32x32" href="/logo/<%- site.favicon  %>">
  <link rel="icon" type="image/png" sizes="16x16" href="/logo/<%- site.favicon %>">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6PKG6LT1ST"></script>
  <title><%- site.title  %></title>
  <meta name="description" content="<%- site.description  %>" />
  <meta name="keywords" content="<%- site.keywords  %>">
  <link rel="stylesheet" href="/home/css/plugins/fontawesome.min.css">
  <link rel="stylesheet" href="/home/css/plugins/bootstrap.min.css">
  <link rel="stylesheet" href="/home/css/plugins/slick.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css?v=12">
  <link rel="stylesheet" href="/home/css/style.css">
</head>
<script>
  var mtcaptchaConfig = {
      "sitekey": "MTPublic-mkRJvVgxo"
  };
  (function () {
      var mt_service = document.createElement('script');
      mt_service.async = true;
      mt_service.src = 'https://service.mtcaptcha.com/mtcv1/client/mtcaptcha.min.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mt_service);
      var mt_service2 = document.createElement('script');
      mt_service2.async = true;
      mt_service2.src = 'https://service2.mtcaptcha.com/mtcv1/client/mtcaptcha2.min.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mt_service2);
  })();
</script>
<!-- MTCaptcha javascript configuration and import, copy end -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<script src="https://cdn.by.wonderpush.com/sdk/1.1/wonderpush-loader.min.js" async></script>
<script>
  window.WonderPush = window.WonderPush || [];
  WonderPush.push(["init", {
      webKey: "55612ef1d266f8004365ebfd5861df9800b1853b9e73dffc948a0046415b0baa",
  }]);
</script>
</head>

<body class="cs-dark">

 
  <!-- Start Header Section -->
  <header class="cs-site_header cs-style1 cs-sticky-header cs-white_bg">
    <div class="cs-main_header">
      <div class="container-fluid">
        
        <div class="cs-main_header_in">
          <div class="cs-main_header_left">
            <a class="cs-site_branding" href="/"><img src="/logo/<%- site.logo  %>" alt="Logo"></a>
          </div>
          
          <div class="cs-main_header_right">
            <div class="cs-search_wrap">
              <form class="cs-search">
                <input type="text" class="cs-search_input" name="keyword" placeholder="Search" oninput="arama(this.value)">
                <button type="submit" class="cs-search_btn">
                    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.16667 16.3333C12.8486 16.3333 15.8333 13.3486 15.8333 9.66667C15.8333 5.98477 12.8486 3 9.16667 3C5.48477 3 2.5 5.98477 2.5 9.66667C2.5 13.3486 5.48477 16.3333 9.16667 16.3333Z" stroke="currentColor" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.5 18L13.875 14.375" stroke="currentColor" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                  
                </button>
            </form><style>
      #search-results li:nth-child(even) {
    background-color: #080326; /* Arka plan rengi */
    padding: 10px; /* Boşluklar */
    color: #ffffff; /* Yazı rengi */
    display: flex; /* Flexbox düzeni */
    align-items: center; /* Dikey hizalama */
}

#search-results li:nth-child(odd) {
    background-color: #080326 ; /* Arka plan rengi */
    padding: 10px; /* Boşluklar */
    color: #ffffff; /* Yazı rengi */
    display: flex; /* Flexbox düzeni */
    align-items: center; /* Dikey hizalama */
}

#search-results li img {
    width: 20px; /* Logo genişliği */
    margin-right: 10px; /* Logo ile metin arasındaki boşluk */
}
</style>
            <ul id="search-results"></ul>
            
            <script>
                function arama(keyword) {
                    fetch(`/arama?keyword=${keyword}`)
                        .then(response => {
                            if (response.ok) {
                                return response.json();
                            } else {
                                throw new Error('Arama sırasında bir hata oluştu.');
                            }
                        })
                        .then(coins => {
                            // Sonuçları işle
                            const resultContainer = document.getElementById('search-results'); // Sonuçları göstereceğiniz bir HTML elementinin id'sini belirtin
                            resultContainer.innerHTML = ''; // Önceki sonuçları temizle
            
                            coins.forEach(coin => {
                                // Her bir coin için bir liste elemanı oluştur
                                const listItem = document.createElement('li');
                                
                                // Coin'in ismini ve coine giden href'i içeren bir link oluştur
                                const link = document.createElement('a');
                                link.href = `/coin/${coin.coinUrl}`; // Burada coinin id'sini kullanarak href değerini ayarlayabilirsiniz
                                link.textContent = coin.name; // Coin'in ismini linkin metni olarak ayarlayabilirsiniz
                                
                                listItem.appendChild(link); // Linki liste elemanına ekle
                                resultContainer.appendChild(listItem); // Listeye elemanı ekle
                            });
                        })
                        .catch(error => console.error(error));
                }
            </script>
              
            </div>
            <div class="cs-nav_wrap">
              <div class="cs-nav_out">
                <div class="cs-nav_in">
                  <div class="cs-nav">
                    <ul class="cs-nav_list">
                      <li>
                        <a href="/">Best Coins Today</a>
                      
                      </li>
                      <li><a href="/allbestcoins">All time Best</a></li>
                     <li>
                        <a href="/newlisting">New Listings</a>
                      </li>
                      <li><a href="/presalecoins">Presales</a></li>
                    
                      <li><a href="contact">Contact</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="cs-header_btns_wrap">
              <div class="cs-header_btns">
                
                 
                <a href="/submit_project" class="cs-btn cs-style1"><span>Submit coin</span></a>
              </div>
            </div>
          </div>
        </div>
        <script src="https://public.bnbstatic.com/unpkg/growth-widget/cryptoCurrencyWidget@0.0.9.min.js" ></script><div class="binance-widget-marquee" data-cmc-ids="1,1027,1839,3408,52,74,5426,3890,5805,7083,2010,2" data-theme="dark" data-transparent="true" data-locale="en" ></div>

      </div>  
    </div>
  </header>
   
  <!-- End Header Section -->