<%- include('../partials/_header');  %>

		<!-- partial:../../partials/_sidebar.html -->
	<%- include('../partials/_sidebar')  %>
		<!-- partial -->
	
		<div class="page-wrapper">
			<%- include('../partials/_navbar')  %>
			<!-- partial -->

			<div class="page-content">

				<nav class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Form</a></li>
						<li class="breadcrumb-item active" aria-current="page">Admin Bilgileri</li>
					</ol>
				</nav>

				<div class="row">
					<div class="col-md-12 grid-margin">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Admin Bilgileri</h6>
							 
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 grid-margin">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Admin Bilgilerini Buradan Güncelleyebilirsin</h6>
								<form method="POST" id="adminbilgi"  class="forms-sample" > 
									<div class="row mb-6">
										<div class="col">
											<input class="form-control" type="email" name="uyemail" id="uyemail" value="<%= admin.uyemail  %>" placeholder="admin email" required/>
										</div>
										<br><br>                                       
										<br><br>                                       
											<div class="row mb-3">
										<div class="col">
											<input class="form-control" type="password" name="uyesifre" id="uyesifre" value="" placeholder="Admin şifresinizi buradan değiştirebilirsiniz." required />
										</div>
										</div>
                                	 
									<input type="hidden" name="site_id" value="">
                                        <button type="submit" class="btn btn-primary">Güncelle</button>
								</form>
						</div>
					</div>
				</div>
			
				</body>
                      
				<div class="row">
			<%- include('../partials/_footer');  %>
		</div>
	</div>
 

	<!-- Plugin js for this page -->
	<script src="/admin/vendors/jquery-validation/jquery.validate.min.js"></script>
	<script src="/admin/vendors/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
	<script src="/admin/vendors/inputmask/jquery.inputmask.min.js"></script>
	<script src="/admin/vendors/select2/select2.min.js"></script>
	<script src="/admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
	<script src="/admin/vendors/jquery-tags-input/jquery.tagsinput.min.js"></script>
	<script src="/admin/vendors/dropzone/dropzone.min.js"></script>
	<script src="/admin/vendors/dropify/dist/dropify.min.js"></script>
	<script src="/admin/vendors/pickr/pickr.min.js"></script>
	<script src="/admin/vendors/moment/moment.min.js"></script>
	<script src="/admin/vendors/flatpickr/flatpickr.min.js"></script>
	<!-- End plugin js for this page -->

	<!-- inject:js -->
	<script src="/admin/vendors/feather-icons/feather.min.js"></script>
	<script src="/admin/js/template.js"></script>
	<!-- endinject -->

	<!-- Custom js for this page -->
	<script src="/admin/js/form-validation.js"></script>
	<script src="/admin/js/bootstrap-maxlength.js"></script>
	<script src="/admin/js/inputmask.js"></script>
	<script src="/admin/js/select2.js"></script>
	<script src="/admin/js/typeahead.js"></script>
	<script src="/admin/js/tags-input.js"></script>
	<script src="/admin/js/dropzone.js"></script>
	<script src="/admin/js/dropify.js"></script>
	<script src="/admin/js/pickr.js"></script>
	<script src="/admin/js/flatpickr.js"></script>
	<!-- End custom js for this page -->

</body>
</html>