<%- include('../partials/_header');  %>

		<!-- partial:../../partials/_sidebar.html -->
	<%- include('../partials/_sidebar')  %>
		<!-- partial -->
	
		<div class="page-wrapper">
			<%- include('../partials/_navbar')  %>
			<!-- partial -->
			<link rel="stylesheet" href="/admin/vendors/datatables.net-bs5/dataTables.bootstrap5.css">
			<link rel="stylesheet" href="/admin/vendors/easymde/easymde.min.css">

			<div class="page-content">


			

 
				<nav class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Coin Bilgileri</a></li>
						<li class="breadcrumb-item active" aria-current="page">Coin Bilgileri</li>
					</ol>
				</nav>
			
				<div class="row">
					<div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Coins</h6>
				<a href="/nadminpanel/coin-ekle"><button class="btn btn-primary">Coin Ekle</button></a>
                <div class="table-responsive">
                  <table id="dataTableExample" class="table">
                    <thead>
                      <tr>
                        <th>Görsel</th>
                        <th>Coin Adı</th>
                        <th>Sembol</th>
                        <th>Coin Puan Arttır</th>
						<th>Oy Oranı</th>
                        <th>Durum</th>
                        <th>Tarih</th>
                        <th>Düzenle</th>
						<th>Sil</th>
                       </tr>
                    </thead>
                    <tbody>
						
						<% coins.forEach(element => { %>
							<tr>
							  <td><img height="120px" width="120px" src="/coinimages/<%- element.logo %>" alt=""></td>
							  <td><a href="/coins/<%- element.coinUrl %>"><%- element.name %></a></td>
							  <td><%- element.symbol %></td>
							  <td>
								<form class="puanarttir-form" method="POST">
								  <button class="btn btn-success" data-coinid="<%- element._id %>">Puan Arttır</button>
								</form>
								<form class="puanazalt-form" method="POST">
								  <button class="btn btn-danger" data-coinid="<%- element._id %>">Puan Azalt</button>
								</form>
							  </td>
							  <td><%- element.totalVote %></td>
							  <td>
								<div class="mb-3">
									<div class="form-check form-switch mb-2">
										<input type="checkbox" class="form-check-input" id="formSwitch<%- element._id %>"
										  data-coinid="<%- element._id %>" data-status="<%- element.status %>" <% if (element.status) { %>checked<% } %>>
									  </div>
									  
								</div>
							  </td>
							  <td><%- element.date %></td>
							  <th>
								<a href="/nadminpanel/coins_edit?id=<%- element._id %>" class="btn btn-primary">Düzenle</a>
							  </th>
							  
							</form>
					
			
			</th> 
			<th> <button  class="btn btn-danger" onclick="coinsil('<%- element._id %>')">Sil</button>
			</tr>		
								<% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
					</div>
				</div>

			</div>

				<div class="row">
			<%- include('../partials/_footer');  %>
		</div>
	</div>
 

	<!-- Plugin js for this page -->
	<script src="/admin/vendors/jquery-validation/jquery.validate.min.js"></script>
	<script src="/admin/vendors/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
	<script src="/admin/vendors/inputmask/jquery.inputmask.min.js"></script>
	<script src="/admin/vendors/select2/select2.min.js"></script>
	<script src="/admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
	<script src="/admin/vendors/dropzone/dropzone.min.js"></script>
	<script src="/admin/vendors/dropify/dist/dropify.min.js"></script>
	<script src="/admin/vendors/pickr/pickr.min.js"></script>
	<script src="/admin/vendors/moment/moment.min.js"></script>
	<script src="/admin/vendors/flatpickr/flatpickr.min.js"></script>
	<!-- End plugin js for this page -->
	<script src="/admin/js/data-table.js"></script>

	<!-- Plugin js for this page -->
	<script src="/admin/vendors/datatables.net/jquery.dataTables.js"></script>
	<script src="/admin/vendors/datatables.net-bs5/dataTables.bootstrap5.js"></script>
	  <!-- End plugin js for this page -->
  
	  
	  <!-- endinject -->
	<!-- inject:js -->
	<!-- endinject -->

	<!-- Custom js for this page -->
	<script src="/admin/js/form-validation.js"></script>
	<script src="/admin/js/bootstrap-maxlength.js"></script>
	<script src="/admin/js/inputmask.js"></script>
	<script src="/admin/js/select2.js"></script>
	<script src="/admin/js/typeahead.js"></script>
	<script src="/admin/js/dropzone.js"></script>
	<script src="/admin/js/dropify.js"></script>
	<script src="/admin/js/pickr.js"></script>
	<script src="/admin/js/flatpickr.js"></script>
	<script src="/admin/vendors/easymde/easymde.min.js"></script>
	<script src="/admin/js/easymde.js"></script>
	<!-- End custom js for this page -->

</body>
</html>