<title><%- coins.name %></title>
<%- include('../partials/_headers');  %>
  <!-- End Header Section -->
  

  <div class="cs-height_90 cs-height_lg_80"></div>
  <!-- Start Page Head -->
  <section class="cs-page_head cs-bg" data-src="/home/img/page_head_bg.svg">
    <center><img src="https://storage.googleapis.com/coinsniper-assets/images/MyQjR1yi9Abq7twzJGNmZ0JltDvC9ecutlSr3uk9.gif" alt="" style="max-width: 100%;" height="1200px">    
      <img src="https://storage.googleapis.com/coinsniper-assets/images/MyQjR1yi9Abq7twzJGNmZ0JltDvC9ecutlSr3uk9.gif" alt="" style="max-width: 100%;" height="1200px"></center>
  </section>

  
  <!-- End Page Head -->
  <%  if(coins.kyc) {%>
  <div class="message warning">
    This project has a KYC certificate. This does not always guarantee a safe investment. Presales are very high risk investments.
    You are responsible for your own investments, please always Do Your Own Research (DYOR) and be careful with your money.
    </div>
    <% } %>
       
  <div class="cs-height_100 cs-height_lg_70"></div>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="slider-for">
          <div class="row">
            <div class="col-xl-12">
              <ul class="cs-activity_list cs-mp0">
                
                <li>
                  
                </li>
                </ul>
      
                <div id="Description" class="cs-tab active">
                  
                  <div class="cs-white_bg cs-box_shadow cs-general_box_9">
                    <div class="cs-activity_avatar"><img src="/coinimages/<%= coins.logo  %>" alt="" height="120px" width="120px">
                    <div class="text-name">
                    <%= coins.name  %> </div>
                    <div class="text-symbol">
                      $<%= coins.symbol  %>
                </div> 
                    <div class="text-network">
                      <img src="https://coinsniper.net/assets/img/<%- coins.network.toLowerCase(); %>.png" alt="" height="20px" width="20px" style="float: left; margin-right: 5px;">
                      <%= coins.network  %>
                  </div>
                  <div class="socialtg">
                    <% if(coins.twitter) {%>
                    <a href="<%- coins.telegram  %>"><img src="/coinimages/telegram.png" alt="" target="_blank"></a>
                    <% } %>
                    <% if(coins.website) {%>
                    <a href="<%- coins.website  %>"><img src="/coinimages/website.png" alt="" target="_blank"></a>
                      <% } %>
                      <% if(coins.coinmarketcap) {%>
                    <a href="<%- coins.coinmarketcap  %>"><img src="/coinimages/cmc.png" alt="" target="_blank"></a>
                        <% } %>
                        <% if(coins.coingecko) {%>
                    <a href="<%- coins.coingecko  %>"><img src="/coinimages/cg.png" alt="" target="_blank"></a>
                          <% } %>
                          <% if(coins.discord) {%>
                    <a href="<%- coins.discord  %>"><img src="/coinimages/dc.png" alt="" target="_blank"></a>
                            <% } %>
                  </div>
              </div>
               
                <div class="text-bsc">
                  <img src="https://coinsniper.net/assets/img/<%- coins.network.toLowerCase(); %>.png" alt="" height="20px" width="20px" style="float: left; margin-right: 5px;">
                   Contract Address:
                 </div>
            </div>
            <div class="text-contract">
              <div class="copy-content" data-copytext="<%= coins.contract %>">
                <span class="address-text"><%= coins.contract.slice(0, 6) + '...' + coins.contract.slice(-4) %></span>
  
            </div>
              </div></div>
                
        <div class="cs-tabs cs-fade_tabs cs-style1">
        <div class="cs-medium">
          <ul class="cs-tab_links cs-style1 cs-medium cs-primary_color cs-mp0 cs-primary_font">
            <li class="active"><a href="#Description">Description</a></li>
          </ul>
        </div>
</div>
<div id="Description" class="cs-tab active">
  <div class="cs-white_bg cs-box_shadow cs-general_box_9">

   <%= coins.description  %>
  </div>
</div><!-- .cs-tab -->
 
        </div>
        </div>
        </div>
         
      </div>
      <div class="col-lg-5">
        <div class="cs-tabs cs-fade_tabs cs-style1">
          
          <div class="cs-tab_content">
            <div id="Description" class="cs-tab active">
              <div class="cs-white_bg cs-box_shadow cs-general_box_5">
                <div class="right-column">
                  <div class="panel is-hidden-mobile">
  <h2 class="label">Coin Information</h2>
<div class="status">
<div class="row">
<div class="status-label">KYC:</div>
<div class="value">
                     
                            <% if(coins.kyc)  {%>
                              <a class="tag kyc" href="https://coinsult.net/projects/yapswap" target="_blank">
                                <span class="green"><img src="/assets/img/coinsult.svg" alt="">
                                  <span class="gray"><i class="fas fa-eye"></i></span>

                             KYC Approved

                            <% }else{ %>
                              Not Kyc Approved
                            <% } %>
                          </span>
</a>
              </div>
</div>
<div class="row">
<div class="status-label">Audit:</div>
<div class="value">
    <% if(coins.audit) {%>
  <a class="tag audit" href="https://www.cyberscope.io/audits/yaps" target="_blank">
                  <span class="blue"><i class="fas fa-shield-alt"></i>Audit Approved</span>
              <span class="gray"><i class="fas fa-eye"></i></span>
              <% }else {%>
                
                  Not Audit Approved
                <% } %>
</a>
</div>
</div>
<div class="row">
<div class="status-label">Listing Status:</div>
<div class="value status">
  <%= totalVotes %> / 500 
  <span class="listed">Not Listing</span>
          </div>
</div>
<div class="row">
<div class="status-label">Launch:</div>
<div class="value">
  <%- (function(dateStr) {
  const options = { day: "numeric", month: "short", year: "numeric" };
  const date = new Date(dateStr);
  return date.toLocaleDateString("en-US", options);
})(coins.launchdate) %></div>



</div>
</div>
<div class="row">
<div class="status-label">Votes:</div>
<div class="value">
<span class="watchlist-counter"><%= totalVotes  %></span>
</div>
</div>
<div class="row">
<div class="status-label">Votes Today:</div>
<div class="value votes">
  <%= totalVotesLast24Hours %>
</div>
</div>
</div>
<div class="voting">
<button class="button is-primary open-voting-modal">
VOTE FOR <%= coins.name  %>
</button>
</div>
<div class="modal" id="voting-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Modal içeriği buraya gelebilir -->
   <center><h2>VOTE FOR <%= coins.name  %></h2></center>
    <br><br>
    <form  id="votesubmit" method="POST">
    <center><button class="button is-primary open-voting-modal">
      VOTE FOR <%= coins.name  %>
      <input type="hidden" value="1" name="votenumb" id="votenumb">
      <input type="hidden" value="<%= coins.id  %>" name="coinId" id="coinId">
      </button></center></form><br><br>
      <center>You can vote once every 24 hours.</center>
      </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
</div>
<script>// JavaScript
  document.addEventListener("DOMContentLoaded", function () {
    const openModalButton = document.querySelector(".open-voting-modal");
    const modal = document.getElementById("voting-modal");
    const modalCloseButton = modal.querySelector(".modal-close");
  
    openModalButton.addEventListener("click", function () {
      modal.classList.add("is-active");
    });
  
    modalCloseButton.addEventListener("click", function () {
      modal.classList.remove("is-active");
    });
  
    modal.addEventListener("click", function (event) {
      if (event.target === modal) {
        modal.classList.remove("is-active");
      }
    });
  });</script>
  <% if(coins.presale) {%>
<div class="panel">
  <h2 class="label">Presale Info</h2>
<div class="status">
<div class="row">
<div class="status-label">Start date:</div>
<div class="value">
  <%= coins.presaledate  %>
</div>
</div>
<div class="row">
<div class="status-label">End date:</div>
<div class="value">
  <% if(coins.presaleenddate) {%>
    <%= coins.presaleenddate  %>

  <% }else {%>
        -
    <% } %>
</div>
</div>
<div class="row">
<div class="status-label">Soft/Hard Cap:</div>
<div class="value">
  <% if(coins.softcap)  {%>
600000 ETH
/
  1200000 ETH
  <% }else {%>
      - / -
    <% } %>
</div>
</div>
<div class="row">
<a href="<%= coins.presalelink  %>" class="button" target="_blank">View Presale</a>
</div>
</div>                        </div>
<% } %>

<% if(coins.twitter) {%>
<% 
function getTwitterUsername(link) {
  const twittername = link.split('/').pop();
  return twittername;
}

const twitterLink = coins.twitter;
const twittername = getTwitterUsername(twitterLink);
%>
<% } %>


<div class="twitter-feed">
  <div class="twitter-timeline twitter-timeline-rendered" style="display: flex; max-width: 100%; margin-top: 0px; margin-bottom: 0px;"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="" style="position: static; visibility: visible; width: 445px; height: 6117px; display: block; flex-grow: 1;" title="Twitter Timeline" src="https://syndication.twitter.com/srv/timeline-profile/screen-name/
    <% if(coins.twitter) {%>
    <%= twittername  %>
    <% } %>
    ?dnt=false&amp;embedId=twitter-widget-0&amp;features=eyJ0ZndfdGltZWxpbmVfbGlzdCI6eyJidWNrZXQiOltdLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X2ZvbGxvd2VyX2NvdW50X3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfdHdlZXRfZWRpdF9iYWNrZW5kIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd19yZWZzcmNfc2Vzc2lvbiI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfZm9zbnJfc29mdF9pbnRlcnZlbnRpb25zX2VuYWJsZWQiOnsiYnVja2V0Ijoib24iLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X21peGVkX21lZGlhXzE1ODk3Ijp7ImJ1Y2tldCI6InRyZWF0bWVudCIsInZlcnNpb24iOm51bGx9LCJ0ZndfZXhwZXJpbWVudHNfY29va2llX2V4cGlyYXRpb24iOnsiYnVja2V0IjoxMjA5NjAwLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3Nob3dfYmlyZHdhdGNoX3Bpdm90c19lbmFibGVkIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd19kdXBsaWNhdGVfc2NyaWJlc190b19zZXR0aW5ncyI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfdXNlX3Byb2ZpbGVfaW1hZ2Vfc2hhcGVfZW5hYmxlZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfdmlkZW9faGxzX2R5bmFtaWNfbWFuaWZlc3RzXzE1MDgyIjp7ImJ1Y2tldCI6InRydWVfYml0cmF0ZSIsInZlcnNpb24iOm51bGx9LCJ0ZndfbGVnYWN5X3RpbWVsaW5lX3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfdHdlZXRfZWRpdF9mcm9udGVuZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9fQ%3D%3D&amp;frame=false&amp;hideBorder=false&amp;hideFooter=false&amp;hideHeader=false&amp;hideScrollBar=false&amp;lang=en&amp;origin=https%3A%2F%2Fcoinsniper.net%2Fcoin%2F49827&amp;sessionId=64e4214988d5b594ff12fee54dfb9872d9a1db11&amp;showHeader=true&amp;showReplies=false&amp;theme=dark&amp;transparent=false&amp;widgetsVersion=aaf4084522e3a%3A1674595607486"></iframe></div>
  <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
          </div>
              </div>
            </div><!-- .cs-tab -->
            <div id="Details" class="cs-tab">
              <div class="cs-white_bg cs-box_shadow cs-general_box_5">
                Velit officia consequat duis enim velit mollit. Amet lorem minim mollit nonese deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit Velit officia else est sit ullamco es duis. Amet lorem minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
              </div>
            </div><!-- .cs-tab -->
          </div>
        </div>
        <div class="cs-height_25 cs-height_lg_25"></div>
        <div class="cs-tabs cs-fade_tabs cs-style1">
           
           <div class="cs-tab_content">
            <div id="tab_one" class="cs-tab active">
              
            </div><!-- .cs-tab -->
            <div id="tab_two" class="cs-tab">
              <ul class="cs-activity_list cs-mp0">
                <li>
                  <div class="cs-activity cs-white_bg cs-type1">
                    <div class="cs-activity_avatar"><img src="/home/img/avatar/avatar_27.png" alt=""></div>
                    <div class="cs-activity_right">
                      <p class="cs-activity_text">Bid accepted <span>6 ETH</span> by <a href="#">@clarence</a></p>
                      <p class="cs-activity_posted_by">16 Mar 2022, 11:22 PM</p>
                    </div>
                  
                  </div>
                </li>
                <li>
                  <div class="cs-activity cs-white_bg cs-type1">
                    <div class="cs-activity_avatar"><img src="/home/img/avatar/avatar_28.png" alt=""></div>
                    <div class="cs-activity_right">
                      <p class="cs-activity_text">Bid accepted <span>4 ETH</span> by <a href="#">@bernard</a></p>
                      <p class="cs-activity_posted_by">19 Feb 2022, 10:22 PM</p>
                    </div>
                   
                  </div>
                </li>
                <li>
                  <div class="cs-activity cs-white_bg cs-type1">
                    <div class="cs-activity_avatar"><img src="/home/img/avatar/avatar_25.png" alt=""></div>
                    <div class="cs-activity_right">
                      <p class="cs-activity_text">Bid accepted <span>3 ETH</span> by <a href="#">@andrew</a></p>
                      <p class="cs-activity_posted_by">27 Feb 2022, 09:22 AM</p>
                    </div>
                    <div class="cs-activity_icon cs-center cs-gray_bg cs-accent_color">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.58321 0.709957C6.80344 0.874407 6.18914 1.21704 5.59168 1.82076C5.18675 2.22991 5.00479 2.50229 4.76907 3.05207C4.50504 3.66793 4.48083 3.89286 4.48083 5.73042V7.37635H3.41299C2.54968 7.37635 2.3136 7.3895 2.18057 7.44513C1.96981 7.53316 1.82838 7.66619 1.71925 7.87903C1.6398 8.03397 1.60008 8.62486 1.2546 14.7885C1.04683 18.4956 0.887802 21.6486 0.901176 21.7952C0.933924 22.154 1.17236 22.635 1.43954 22.8813C1.5516 22.9846 1.77688 23.1324 1.94009 23.2097L2.23691 23.3504L6.05108 23.3627L9.86525 23.375L9.73124 23.1405C9.51169 22.7562 9.36302 22.248 9.33844 21.7974C9.30778 21.2353 9.83037 13.8479 9.92639 13.4862C9.96527 13.3396 10.0588 13.1041 10.1341 12.9627C10.2958 12.6594 10.745 12.2223 11.058 12.0637C11.495 11.8422 11.7038 11.8211 13.4676 11.8204L15.1006 11.8198L15.1013 11.6976C15.1016 11.6304 15.0606 10.8055 15.01 9.86466C14.9095 7.99483 14.8896 7.87774 14.6301 7.62567C14.4029 7.40505 14.2408 7.37635 13.2221 7.37635H12.3092L12.2904 5.65453C12.2732 4.07388 12.2639 3.90467 12.1777 3.59066C11.6104 1.52377 9.62549 0.279258 7.58321 0.709957ZM8.86051 2.0029C9.75083 2.16326 10.5632 2.9018 10.8612 3.82163C10.9298 4.03349 10.9426 4.28614 10.9576 5.72118L10.9749 7.37635H11.6417H12.3085L12.2938 8.15083C12.2804 8.85049 12.2702 8.93709 12.1874 9.04787C11.8758 9.46484 11.3401 9.47515 11.0691 9.06938C10.9739 8.92692 10.9682 8.87498 10.9682 8.14737V7.37635H8.39471H5.82118L5.80643 8.15083C5.79305 8.85049 5.78279 8.93709 5.70001 9.04787C5.38839 9.46484 4.85274 9.47515 4.58169 9.06938C4.48651 8.92692 4.48083 8.87498 4.48083 8.14737V7.37635H5.14734H5.81385V5.80112C5.81385 4.10672 5.8302 3.93978 6.04233 3.46904C6.27632 2.94988 6.72745 2.48132 7.25 2.21472C7.68696 1.99179 8.3297 1.90728 8.86051 2.0029ZM11.7014 13.2364C11.4861 13.3362 11.3508 13.4769 11.2592 13.6961C11.1769 13.893 10.6373 21.2578 10.6707 21.7285C10.7251 22.4959 11.2453 23.1174 11.9949 23.3103C12.2061 23.3647 13.0058 23.3726 17.2603 23.3624L22.2767 23.3504L22.5735 23.2097C22.7367 23.1324 22.9614 22.9851 23.0729 22.8824C23.3192 22.6553 23.57 22.1737 23.6098 21.8513C23.6271 21.7113 23.5294 20.0574 23.3663 17.7295C23.0598 13.3569 23.0937 13.5829 22.7036 13.3087L22.5134 13.175L17.1962 13.1645C12.0992 13.1544 11.8717 13.1574 11.7014 13.2364ZM15.4736 15.253C15.7574 15.4157 15.8115 15.5711 15.8115 16.2241C15.8115 16.9539 15.8786 17.177 16.1929 17.4933C16.5907 17.8934 17.1539 17.9713 17.6468 17.6946C18.1309 17.4227 18.2998 17.0384 18.2998 16.2092C18.2998 15.6054 18.3481 15.4412 18.5725 15.2811C18.7704 15.14 19.126 15.1327 19.3047 15.2661C19.5817 15.4729 19.6094 15.5528 19.6248 16.1885C19.65 17.2283 19.439 17.8413 18.8537 18.4286C18.0668 19.2184 16.9536 19.4099 15.9495 18.9283C15.6546 18.7868 15.5055 18.6776 15.2373 18.4061C14.6651 17.8268 14.4806 17.3113 14.4792 16.2883C14.4786 15.8042 14.4924 15.6848 14.567 15.5307C14.7354 15.183 15.1369 15.06 15.4736 15.253Z" fill="currentColor"/>
                      </svg>                  
                    </div>
                  </div>
                </li>
                <li>
                  <div class="cs-activity cs-white_bg cs-type1">
                    <div class="cs-activity_avatar"><img src="/home/img/avatar/avatar_26.png" alt=""></div>
                    <div class="cs-activity_right">
                      <p class="cs-activity_text">Bid accepted <span>5 ETH</span> by <a href="#">@steven</a></p>
                      <p class="cs-activity_posted_by">24 Feb 2022, 10:22 PM</p>
                    </div>
                    <div class="cs-activity_icon cs-center cs-gray_bg cs-accent_color">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.58321 0.709957C6.80344 0.874407 6.18914 1.21704 5.59168 1.82076C5.18675 2.22991 5.00479 2.50229 4.76907 3.05207C4.50504 3.66793 4.48083 3.89286 4.48083 5.73042V7.37635H3.41299C2.54968 7.37635 2.3136 7.3895 2.18057 7.44513C1.96981 7.53316 1.82838 7.66619 1.71925 7.87903C1.6398 8.03397 1.60008 8.62486 1.2546 14.7885C1.04683 18.4956 0.887802 21.6486 0.901176 21.7952C0.933924 22.154 1.17236 22.635 1.43954 22.8813C1.5516 22.9846 1.77688 23.1324 1.94009 23.2097L2.23691 23.3504L6.05108 23.3627L9.86525 23.375L9.73124 23.1405C9.51169 22.7562 9.36302 22.248 9.33844 21.7974C9.30778 21.2353 9.83037 13.8479 9.92639 13.4862C9.96527 13.3396 10.0588 13.1041 10.1341 12.9627C10.2958 12.6594 10.745 12.2223 11.058 12.0637C11.495 11.8422 11.7038 11.8211 13.4676 11.8204L15.1006 11.8198L15.1013 11.6976C15.1016 11.6304 15.0606 10.8055 15.01 9.86466C14.9095 7.99483 14.8896 7.87774 14.6301 7.62567C14.4029 7.40505 14.2408 7.37635 13.2221 7.37635H12.3092L12.2904 5.65453C12.2732 4.07388 12.2639 3.90467 12.1777 3.59066C11.6104 1.52377 9.62549 0.279258 7.58321 0.709957ZM8.86051 2.0029C9.75083 2.16326 10.5632 2.9018 10.8612 3.82163C10.9298 4.03349 10.9426 4.28614 10.9576 5.72118L10.9749 7.37635H11.6417H12.3085L12.2938 8.15083C12.2804 8.85049 12.2702 8.93709 12.1874 9.04787C11.8758 9.46484 11.3401 9.47515 11.0691 9.06938C10.9739 8.92692 10.9682 8.87498 10.9682 8.14737V7.37635H8.39471H5.82118L5.80643 8.15083C5.79305 8.85049 5.78279 8.93709 5.70001 9.04787C5.38839 9.46484 4.85274 9.47515 4.58169 9.06938C4.48651 8.92692 4.48083 8.87498 4.48083 8.14737V7.37635H5.14734H5.81385V5.80112C5.81385 4.10672 5.8302 3.93978 6.04233 3.46904C6.27632 2.94988 6.72745 2.48132 7.25 2.21472C7.68696 1.99179 8.3297 1.90728 8.86051 2.0029ZM11.7014 13.2364C11.4861 13.3362 11.3508 13.4769 11.2592 13.6961C11.1769 13.893 10.6373 21.2578 10.6707 21.7285C10.7251 22.4959 11.2453 23.1174 11.9949 23.3103C12.2061 23.3647 13.0058 23.3726 17.2603 23.3624L22.2767 23.3504L22.5735 23.2097C22.7367 23.1324 22.9614 22.9851 23.0729 22.8824C23.3192 22.6553 23.57 22.1737 23.6098 21.8513C23.6271 21.7113 23.5294 20.0574 23.3663 17.7295C23.0598 13.3569 23.0937 13.5829 22.7036 13.3087L22.5134 13.175L17.1962 13.1645C12.0992 13.1544 11.8717 13.1574 11.7014 13.2364ZM15.4736 15.253C15.7574 15.4157 15.8115 15.5711 15.8115 16.2241C15.8115 16.9539 15.8786 17.177 16.1929 17.4933C16.5907 17.8934 17.1539 17.9713 17.6468 17.6946C18.1309 17.4227 18.2998 17.0384 18.2998 16.2092C18.2998 15.6054 18.3481 15.4412 18.5725 15.2811C18.7704 15.14 19.126 15.1327 19.3047 15.2661C19.5817 15.4729 19.6094 15.5528 19.6248 16.1885C19.65 17.2283 19.439 17.8413 18.8537 18.4286C18.0668 19.2184 16.9536 19.4099 15.9495 18.9283C15.6546 18.7868 15.5055 18.6776 15.2373 18.4061C14.6651 17.8268 14.4806 17.3113 14.4792 16.2883C14.4786 15.8042 14.4924 15.6848 14.567 15.5307C14.7354 15.183 15.1369 15.06 15.4736 15.253Z" fill="currentColor"/>
                      </svg>                  
                    </div>
                  </div>
                </li>
              </ul>
            </div><!-- .cs-tab -->
          </div>
        </div>
          
        
      </div>
    </div>
  </div>
  <script>
    const copyContent = document.querySelector('.copy-content');
    const addressText = copyContent.querySelector('.address-text');

    copyContent.addEventListener('click', () => {
        const copyText = copyContent.getAttribute('data-copytext');
        copyToClipboard(copyText);
        addressText.innerText = 'Copied!';
        setTimeout(() => {
            addressText.innerText = copyText.slice(0, 6) + '...' + copyText.slice(-4);
        }, 1000); // 1 saniye sonra özetlenmiş adres geri gelir
    });

    function copyToClipboard(text) {
        const textarea = document.createElement('textarea');
        textarea.value = text;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);
    }
</script>
<%- include('../partials/_footers');  %>