<%- include('../partials/_header');  %>

		<!-- partial:../../partials/_sidebar.html -->
	<%- include('../partials/_sidebar')  %>
		<!-- partial -->
	
		<div class="page-wrapper">
			<%- include('../partials/_navbar')  %>
			<!-- partial -->
			<link rel="stylesheet" href="/admin/vendors/datatables.net-bs5/dataTables.bootstrap5.css">

			<div class="page-content">

				<nav class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Sayfalar</a></li>
						<li class="breadcrumb-item active" aria-current="page">Sayfa Bilgileri</li>
					</ol>
				</nav>
				<div class="row">
				 
				<div class="row">
					<div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Sayfa Listesi</h6>
                <div class="table-responsive">
                  <table id="dataTableExample" class="table">
                    <thead>
                      <tr>
                        <th>Destek Başlık</th>
                        <th>Destek Konu</th>
                        <th>Oku</th>
                       </tr>
                    </thead>
                    <tbody>
						<% destek.forEach(element => { %>
							
						
                      <tr>
                        <td><%= element.destekad %></td>
                        <td><%= element.destekbaslik  %></td>
 						<th>
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter<%- element.id %>">
								Oku
							  </button>
							  <div class="modal fade" id="exampleModalCenter<%- element.id %>" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
								  <div class="modal-content">
									<div class="modal-header">
									  <h5 class="modal-title" id="exampleModalCenterTitle">Destek</h5>
									  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
									</div>
									<div class="modal-body">
																   
			<div class="row">
				<div class="col-md-12 grid-margin">
					<div class="card">
						<div class="card-body">
							<p class="text-muted mb-3">Destek</p>

							<form action="" method="POST" class="forms-sample">
								<div class="row mb-3">
								<div class="col">
								  <label class="form-label">Destek Adı:</label>
								  <p><%= element.destekad  %></p>
								</div>
								
							  </div>
							  <div class="row mb-3">
								<div class="col">
								  <label class="form-label">Destek Email:</label>
									<p><%= element.destekemail  %></p>
								</div>
								<div class="row mb-3">
									<div class="col">
									  <label class="form-label">Destek Başlık:</label>
										<p><%= element.destekbaslik  %></p>
									</div>
									
								  </div><hr>
								  <div class="row mb-3">
									<div class="col">
									  <label class="form-label">Destek Konu:</label>
										<p><%= element.destekkonu  %></p>
									</div>
								<input type="hidden" name="iletisimId" id="iletisimId" value="<%-    %>">
							  </div>
							</form>
					</div>
				</div>
			</th>
						
                        </td>
                        
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                       </th>
									</tr>
                      </tr>
					<% });  %>
							  </td>
							 
							

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
			
			
					</div>
				</div>

			</div>

			
				<div class="row">
			<%- include('../partials/_footer');  %>
		</div>
	</div>
 

	<!-- Plugin js for this page -->
	<script src="/admin/vendors/jquery-validation/jquery.validate.min.js"></script>
	<script src="/admin/vendors/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
	<script src="/admin/vendors/inputmask/jquery.inputmask.min.js"></script>
	<script src="/admin/vendors/select2/select2.min.js"></script>
	<script src="/admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
	<script src="/admin/vendors/jquery-tags-input/jquery.tagsinput.min.js"></script>
	<script src="/admin/vendors/dropzone/dropzone.min.js"></script>
	<script src="/admin/vendors/dropify/dist/dropify.min.js"></script>
	<script src="/admin/vendors/pickr/pickr.min.js"></script>
	<script src="/admin/vendors/moment/moment.min.js"></script>
	<script src="/admin/vendors/flatpickr/flatpickr.min.js"></script>
	<!-- End plugin js for this page -->
	<script src="/admin/js/data-table.js"></script>

	<!-- Plugin js for this page -->
	<script src="/admin/vendors/datatables.net/jquery.dataTables.js"></script>
	<script src="/admin/vendors/datatables.net-bs5/dataTables.bootstrap5.js"></script>
	  <!-- End plugin js for this page -->
  
	  
	  <!-- endinject -->
	<!-- inject:js -->
	<!-- endinject -->

	<!-- Custom js for this page -->
	<script src="/admin/js/form-validation.js"></script>
	<script src="/admin/js/bootstrap-maxlength.js"></script>
	<script src="/admin/js/inputmask.js"></script>
	<script src="/admin/js/select2.js"></script>
	<script src="/admin/js/typeahead.js"></script>
	<script src="/admin/js/tags-input.js"></script>
	<script src="/admin/js/dropzone.js"></script>
	<script src="/admin/js/dropify.js"></script>
	<script src="/admin/js/pickr.js"></script>
	<script src="/admin/js/flatpickr.js"></script>
	<!-- End custom js for this page -->

</body>
</html>